* {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
body {
  overflow: hidden;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Microsoft YaHei', sans-serif;
  font-size: 16px;
  color: #dedee0;
  line-height: 1.75;
  background: #242632;
}
body .w {
  position: absolute;
  width: 100%;
  margin: 0 auto;
}
body .w .main {
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0;
  width: 100%;
  align-items: center;
}
body .w .main .menu_tab {
  flex: 1;
  height: 60px;
  line-height: 60px;
  font-size: 14px;
  background-color: #3f404b;
  border-bottom: solid 1px #e6e6e6;
}
body .w .main .menu_tab li {
  float: left;
  padding: 0 20px;
  height: 100%;
  box-sizing: border-box;
}
body .w .main .menu_tab li img {
  vertical-align: middle;
  height: 37.08px;
}
body .w .main .menu_tab .menu_picked {
  border-bottom: 2px solid #f2c260;
  color: #fff;
}
body .w .main .pre_view {
  width: 100%;
  height: 1019px;
}
body .w .main .pre_view .pre_common {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: flex-start;
  overflow-x: hidden;
  overflow-y: auto;
}
body .w .main .pre_view .view_window {
  width: 83%;
  height: 100%;
}
body .w .main .pre_view .view_window p {
  color: #f2c260;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}
body .w .main .pre_view .view_window .player {
  width: 100%;
  height: 800px;
  background: #000000;
  border: 2px solid #f2c260;
  overflow: hidden;
  position: relative;
}
body .w .main .pre_view .daobo_switch {
  width: 16%;
  height: 100%;
  background-color: blueviolet;
}
body .w .main .pre_view .daobo_switch .switch {
  min-width: 61.8%;
  display: inline-block;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  font-size: 14px;
  line-height: 20px;
  height: 20px;
  vertical-align: middle;
}
